# Directories to ignore
.libs/
autom4te.cache/
bin/
build/

# Files to ignore
*.in
*.lo
*.log
Makefile*
ext/Makefile.global
ext/acinclude.m4
ext/aclocal.m4
ext/config.guess
ext/config.sub
ext/configure
ext/install-sh
ext/ltmain.sh
ext/missing
ext/mkinstalldirs
ext/run-tests.php
