<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/unit/</directory>
        </testsuite>
        <!-- TODO: Update test suite name as Cassandra and SCassandra suites are added -->
        <testsuite name="cassandra-integration">
            <directory>./tests/integration/Cassandra/</directory>
        </testsuite>
        <testsuite name="dse-integration">
            <directory>./tests/integration/Dse/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>